<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
  <meta charset="UTF-8" />
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
  <link th:href="@{/css/main.css}" rel="stylesheet" />
  <link th:href="@{/css/autoComplete.css}" rel="stylesheet" />
  <title></title>
  <script src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light j_nav j-color fixed-top" id="nav_vue">
    <div class="container-fluid">
      <a th:href="@{/}"><img class="nav-object" th:src="@{/img/web/logo.svg}" /></a>
      <div class="j_navbox-center collapse navbar-collapse">
        <a class="nav-object" th:href="@{/}"><img class="nav-object" th:src="@{/img/web/jojoWord.svg}" /></a>
      </div>


      <!--  <div class="j_navbox-center"></div> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- autocomplete start -->
        <div class="autocomplete">

          <form name="searchkey">

            <input type="text" lang="zh-CN" v-model="searchText" @input="handleInput" class="a_input autocomplete-input"
              placeholder="找活動" autocomplete="new-searchkey">
            <a id="acid" class="autobtn"><i class="bi bi-search"></i></a>
            <template v-if="showDropdown">
              <div class="autocomplete-dropdown">
                <div v-for="item in filteredItems" @click="selectItem(item)" class="autocomplete-dropdown-item">{{
                  item.acName }}
                </div>
            </template>
          </form>

        </div>

      </div>
      <!-- autocomplete end -->
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto j_navbox-right">
        <li class="nav-item"></li>
        <li class="nav-item">
          <a class="nav-object j_btn-small" data-bs-toggle="modal" data-bs-target="#searchSigned">報名查詢</a>
        </li>
        <li class="nav-item">
          <a class="nav-object j_btn-small" th:href="@{/articles/allArticles}" tabindex="-1">討論區</a>
        </li>
        <li class="nav-item">
          <a class="nav-object j_btn-small" th:href="@{/createAc/chooseOrganizer/1}" @click="clearSession"
            tabindex="-1">辦活動</a>
        </li>

        <!-- login dropdown li start  -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <!-- 登入頭貼顯示 -->
            <img style="width:40px;height:40px" sec:authorize=" isAuthenticated()"
              th:src="@{${session.userinfo.uImgpath != null ? session.userinfo.uImgpath : '/img/web/unloginUser.svg'}}"
              class="nav-object j_btn-circle" />

            <!-- 未登入預設 -->
            <img style="width:40px;height:40px" sec:authorize=" !isAuthenticated()" class="nav-object j_btn-circle"
              th:src="@{/img/web/unloginUser.svg}" />

          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <!-- 登入的互動視窗，取代原本的路徑 -->
            <li sec:authorize="!isAuthenticated()">
              <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#LoginModal">登入</a>
            </li>
            <li sec:authorize="!isAuthenticated()">
              <!-- <a class="dropdown-item" th:href="@{/register}">註冊</a> -->
              <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#RegisterModal">註冊</a>
            </li>
            <!-- 登入才會出現 -->
            <li sec:authorize="isAuthenticated()">
              <a class="dropdown-item" th:href="@{/logout}" onclick="clearSessionStorage();">登出</a>
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li sec:authorize="isAuthenticated()">
              <a class="dropdown-item" th:href="@{/articles/myArticles}">我的文章</a>
            </li>
            <li sec:authorize="isAuthenticated()">
              <a class="dropdown-item" th:href="@{/userHome}">會員專區</a>
            </li>
            <li sec:authorize="isAuthenticated()">
              <a class="dropdown-item" th:href="@{/organizerBiz}">主辦中心</a>
            </li>



            <!-- <li>
              <a class="dropdown-item" href="#">Something else here</a>
            </li> -->
          </ul>
        </li>
        <!-- login dropdown li start  -->
      </ul>
    </div>
    </div>
  </nav>

  <div style="height: 60px"></div>

  <!-- 引入登入的互動視窗 -->
  <div th:replace="~{authentication/authModal}"></div>


  <div th:replace="~{SignPages/findSigned}"></div>
  <script> function clearSessionStorage() { sessionStorage.clear(); }</script>
  <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/js/main.js}"></script>



  <script type="module">
    import { createApp } from "https://cdnjs.cloudflare.com/ajax/libs/vue/3.4.21/vue.esm-browser.min.js";
    createApp({
      data() {
        return {
          WEBROOT: WebRoot,
          searchText: '',
          items: [],
          showDropdown: false
        }
      },
      created() {
        axios.get(`${this.WEBROOT}/search`)
          .then((response) => {
            let items = [];

            for (let item of response.data) {
              let one = { id: "", acName: "" }
              one.acName = Object.values(item)[0]
              one.id = Object.keys(item)[0]
              items.push(one)
            }
            this.items = items;
            // //console.log(this.items);

          })
      },
      computed: {
        filteredItems() {
          // return this.items.filter(item => item.toLowerCase().includes(this.searchText.toLowerCase()));
          return this.items.filter(item => item.acName.includes(this.searchText));
        }
      },
      methods: {
        handleInput() {
          this.showDropdown = this.searchText.length > 0;
        },
        selectItem(item) {
          this.searchText = item.acName;
          this.showDropdown = false;
          document.getElementById("acid").setAttribute("href", `/showActivity/activityPage/${item.id}`);

        },
        clearSession() {
          axios
            .get("/createAc/clearSession")
            .then((response) => {
              //console.log(response.data);
              // window.location.href = "/createAc/chooseOrganizer/1";
            })
        }
      }
    }).mount("#nav_vue");
  </script>


</body>

</html>